USE [master]
GO

CREATE DATABASE [smarket]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [smarket].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [smarket]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 24/01/2024 14:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](200) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[Active] [bit] NOT NULL,
	[isSuperAdmin] [bit] NULL,
 CONSTRAINT [PKA_Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillTbl]    Script Date: 24/01/2024 14:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillTbl](
	[BillId] [int] IDENTITY(1,1) NOT NULL,
	[Comments] [nvarchar](50) NULL,
	[SellerName] [varchar](50) NOT NULL,
	[Date] [varchar](50) NOT NULL,
	[TotAmt] [int] NOT NULL,
	[ProductIDs] [varchar](max) NULL,
	[CategoryIDs] [varchar](max) NULL,
 CONSTRAINT [PK__BillTbl__11F2FC6A86AB79DA] PRIMARY KEY CLUSTERED 
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryTbl]    Script Date: 24/01/2024 14:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryTbl](
	[CatId] [int] IDENTITY(1,1) NOT NULL,
	[CatName] [varchar](50) NOT NULL,
	[CatDesc] [varchar](50) NOT NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK__Category__6A1C8AFAA57C5496] PRIMARY KEY CLUSTERED 
(
	[CatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exceptions]    Script Date: 24/01/2024 14:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exceptions](
	[Date] [date] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[StackTrace] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTbl]    Script Date: 24/01/2024 14:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTbl](
	[ProdId] [int] IDENTITY(1,1) NOT NULL,
	[ProdName] [varchar](50) NOT NULL,
	[ProdQty] [int] NULL,
	[ProdPrice] [int] NULL,
	[ProdCatID] [int] NULL,
	[ProdCat] [varchar](50) NOT NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK__tmp_ms_x__042785E53E7C094E] PRIMARY KEY CLUSTERED 
(
	[ProdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellersTbl]    Script Date: 24/01/2024 14:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellersTbl](
	[SellerId] [int] IDENTITY(1,1) NOT NULL,
	[SellerUserName] [varchar](50) NOT NULL,
	[SellerPass] [nvarchar](max) NOT NULL,
	[SellerName] [nvarchar](50) NOT NULL,
	[SellerAge] [int] NOT NULL,
	[SellerPhone] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK__SellerTb__7FE3DB8139C66264] PRIMARY KEY CLUSTERED 
(
	[SellerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 24/01/2024 14:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[UDP_Enabled] [bit] NOT NULL,
	[TCP_Enabled] [bit] NOT NULL,
	[UDP_Port] [int] NOT NULL,
	[TCP_Port] [int] NOT NULL,
	[Keys] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProductTbl]  WITH CHECK ADD  CONSTRAINT [FK_ProductTbl_CategoryTbl] FOREIGN KEY([ProdCatID])
REFERENCES [dbo].[CategoryTbl] ([CatId])
GO
ALTER TABLE [dbo].[ProductTbl] CHECK CONSTRAINT [FK_ProductTbl_CategoryTbl]
GO
/****** Object:  StoredProcedure [dbo].[SP_CleanDatabaseTables]    Script Date: 24/01/2024 14:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE proc [dbo].[SP_CleanDatabaseTables]


as
begin
TRUNCATE TABLE Admins
TRUNCATE TABLE BillingProducts
TRUNCATE TABLE BillTbl
TRUNCATE TABLE CategoryTbl
TRUNCATE TABLE ExceptionTbl
TRUNCATE TABLE ProductTbl
TRUNCATE TABLE SellersTbl
end
GO
USE [master]
GO
