<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!--<connectionStrings>
		<add name="Supermarket"
			 connectionString="server=DESKTOP-FF268DF\SQLEXPRESS;database=smarketdb;Integrated Security=SSPI;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>-->
	<connectionStrings>
		<add name="Supermarket"
			 connectionString="server=DIMITRISTASKOUD\DIMITRIS_TASKOUD;database=smarketdb;Integrated Security=SSPI;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>


</configuration>