<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
 </configSections>
 <connectionStrings>
		<add name="smarketdb"
    connectionString="Data Source=192.168.24.177,51434;database=smarket;Persist Security Info=True;User ID=sa;Password=c0mpuc0n; TrustServerCertificate=True;"/>
	</connectionStrings>
	<!--<connectionStrings>
		<add name="smarketdb" connectionString="server=DIMITRISTASKOUD\DIMITRIS_TASKOUD;database=smarketdb;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
	</connectionStrings>-->
</configuration>