<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<!--<connectionStrings>
		<add name="smarketdb" connectionString="server=DIMITRISTASKOUD\DIMITRIS_TASKOUD;database=smarketdb;Persist Security Info=True;User ID=Super;Password=super" providerName="System.Data.SqlClient"/>
	</connectionStrings>-->
	<connectionStrings>
		<add name="smarketdb"
			 connectionString="server=192.168.24.177,51434;database=smarketdb;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
